<h1>Order No. <%=@order.id%></h1>

<div class="row">
  <div class="span6 offset3"> 
    <h3>Restaurants:</h3>
    <% votes=users_restaurants(@order)%>
    <%unless votes.nil?%>
      <% votes.each do |v,k|%>
        <p><%= create_link v  %>
        <%=link_to "Vote", vote_order_path(rest: v.id), method: "post"%>
        <%k.each do |s|%>
          <%=s.initials+ " "%>
        <%end%>
        </p>  
      <%end%>
    <%end%> 
    </br>
    <%if @order.restaurants.count == 0 || !params[:restaurant].nil?%>
      <div id="visible">
    <%else%>
      <% if params[:restaurant].nil? %>
      <input type="button" class="btn btn-primary btn-small" value="Add restaurant" id="restButton"/>
      <%end%>
      <div id="hidden">  
    <%end%>   
       <%= render 'edit_restaurant'%>
      </div>
      </br></br>
      <h3>Dishes:</h3>
      <% dishes = @order.dishes%>
      <%dishes.each do |d|%>
      <p><%=d.name%></p>
      <%end%>
       <%if @order.dishes.count == 0 || !params[:dish].nil?%>
      <div id="visibleDish">
    <%else%>
      <% if params[:dish].nil? %>
        <input type="button" class="btn btn-primary btn-small" value="Add dish" id="dishButton"/>
      <%end%>
      <div id="hiddenDish">  
    <%end%>   
       <%= render 'edit_dish'%>
      </div>
  </div>
</div>


<p><%= link_to "Log out", logout_path, method: "delete" %></p>

